.principal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px; /* Tamanho de fonte padrão */
}

/* Media queries */
@media (max-width: 768px) {
  .principal {
    font-size: 14px; /* Tamanho de fonte ajustado para tablets */
  }
}

@media (max-width: 480px) {
  .principal {
    font-size: 12px; /* Tamanho de fonte ajustado para smartphones */
  }
}
